<!-- Copyright info and footer styling-->
<footer>
      <nav class="navbar fixed-bottom navbar-dark" style="background-color: #73645C; justify-content: center; color: #D9D0C7">
        <h6 class="navbar-text">&copy; Copyright 2025 @Shifa Faisal. All rights reserved</h6>
      </nav>
    </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>