<!-- Container for brand and tabs -->
<div class="d-flex justify-content-between align-items-center" style="background-color: #73645C; padding: 10px;">

  <!-- Nav-tabs on the right -->
  <ul class="nav nav-tabs">

    <% if (typeof displayName === 'string' && displayName) { %>

    <!-- Hobbies page link -->
    <li class="nav-item">
      <% if(title=="Hobbies") { %>
        <a class="nav-link active" aria-current="page" href="/hobby" style="color: #A68C76;">
          <i class="fa-solid fa-clipboard-list"></i> Hobbies
        </a>
      <% } else { %>
        <a class="nav-link" href="/hobby" style="color: #D9D0C7;">
          <i class="fa-solid fa-clipboard-list"></i> Hobbies
        </a>
      <% } %>
    </li>

    <!-- About page link -->
    <li class="nav-item">
      <% if(title=="About us") { %>
        <a class="nav-link active" aria-current="page" href="/about" style="color: #A68C76;">
          <i class="fa-solid fa-info"></i> About
        </a>
      <% } else { %>
        <a class="nav-link" href="/about" style="color: #D9D0C7;">
          <i class="fa-solid fa-info"></i> About
        </a>
      <% } %>
    </li>

    <!-- Add Hobby page link -->
    <li class="nav-item">
      <% if(title=="Add Hobby") { %>
        <a class="nav-link active" aria-current="page" href="/hobby/add" style="color: #A68C76;">
          <i class="fa-solid fa-plus"></i> Add Hobby
        </a>
      <% } else { %>
        <a class="nav-link" href="/hobby/add" style="color: #D9D0C7;">
          <i class="fa-solid fa-plus"></i> Add Hobby
        </a>
      <% } %>
    </li>

    <!-- Contact us page link -->
    <li class="nav-item">
      <% if(title=="Contact us") { %>
        <a class="nav-link active" aria-current="page" href="/contact" style="color: #A68C76;">
          <i class="fa-solid fa-envelope"></i> Contact us
        </a>
      <% } else { %>
        <a class="nav-link" href="/contact" style="color: #D9D0C7;">
          <i class="fa-solid fa-envelope"></i> Contact us
        </a>
      <% } %>
    </li>

    <!-- Logout link -->
    <li class="nav-item ms-lg-3">
      <a href="/logout" class="nav-link">
        <i class="fas fa-lg fa-sign-out-alt"></i> Logout
      </a>
    </li>

    <% } else { %>
    <!-- Login page link -->
    <li class="nav-item">
      <a href="/login" class="nav-link">
        <i class="fas fa-lg fa-sign-in-alt"></i> Login
      </a>
    </li>
    <% } %>  

  </ul>

  <!-- Website name on the left -->
  <a class="navbar-brand" href="/hobby" style="color: white; font-size: 28px;">HobbyHub</a>
</div>

