<!-- New container for brand and tabs -->
<div class="d-flex justify-content-between align-items-center" style= "background-color: mediumvioletred; padding: 10px;">

  
  <!-- Nav-tabs on the right -->
  <ul class="nav nav-tabs">
    
    <!-- Hobbies page link -->
    <li class="nav-item">
      <% if(title=="Hobbies") { %>
        <a class="nav-link active" aria-current="page" href="/hobby" style="color: mediumvioletred;">
          <i class="fa-solid fa-clipboard-list"></i> Hobbies
        </a>
      <% } else { %>
        <a class="nav-link" href="/hobby" style="color: pink;">
          <i class="fa-solid fa-clipboard-list"></i> Hobbies
        </a>
      <% } %>
    </li>

    <!-- About page link -->
    <li class="nav-item">
      <% if(title=="About us") { %>
        <a class="nav-link active" aria-current="page" href="/about" style="color: mediumvioletred;">
          <i class="fa-solid fa-info"></i> About
        </a>
      <% } else { %>
        <a class="nav-link" href="/about" style="color: pink;">
          <i class="fa-solid fa-info"></i> About
        </a>
      <% } %>
    </li>

    <!-- Add Hobby page link -->
    <li class="nav-item">
      <% if(title=="Add Hobby") { %>
        <a class="nav-link active" aria-current="page" href="/hobby/add" style="color: mediumvioletred;">
          <i class="fa-solid fa-plus"></i> Add Hobby
        </a>
      <% } else { %>
        <a class="nav-link" href="/hobby/add" style="color: pink;">
          <i class="fa-solid fa-plus"></i> Add Hobby
        </a>
      <% } %>
    </li>

    <!-- Contact us page link -->
    <li class="nav-item">
      <% if(title=="Contact us") { %>
        <a class="nav-link active" aria-current="page" href="/contact" style="color: mediumvioletred;">
          <i class="fa-solid fa-envelope"></i> Contact us
        </a>
      <% } else { %>
        <a class="nav-link" href="/contact" style="color: pink;">
          <i class="fa-solid fa-envelope"></i> Contact us
        </a>
      <% } %>
    </li>
  </ul>
    <!-- Website name on the left -->
  <a class="navbar-brand" href="/hobby" style="color: pink"> HobbyHub</a>
</div>
