<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>


<style>
    body {
        background-color: hotpink;
}
</style>

<p> Welcome to HobbyHub, where boredom goes extinct! Explore exciting hobbies, see what others love, add your own, check prices, read descriptions. Join the fun, get inspired, and make every moment a hobby-ful adventure!</p>

<%- include ../partials/footer.ejs %>