<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<!-- CSS Styles for About Page -->
<style> 
    body {
        background-color: #BFAE99;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    h1 {
        color: #40352C;
        text-align: center;
    }
    h2 {
        color: #4D4339;
        text-align: left;
    }
    p {
        font-size: 18px;
        color:#D9D0C7 ;
        padding: 15px;
        margin: 15px;
    }

    /* Creates background box around main info  */ 
    .projectbox {
        border-radius: 10px;
        padding: 25px;
        background-color: #A68C76; 
        margin: 25px auto;
        width: 90%;
    }
</style>

<!-- Page title -->
<h1>About HobbyHub</h1>

<div class="projectbox">
    <!-- Content of about page-->
    <h2>About the Project:</h2>
    <p>This website was developed as part of the INFR3120 - Web Application Development course at Ontario Tech University. HobbyHub lets users explore and manage hobbies. Users can add new hobbies, see details of existing ones, update information, and delete hobbies they no longer want. This makes it easy to keep track of favorite hobbies, discover new ones, and share ideas with others.</p>
    <p>In the future, I would like to expand this website into a social media–style platform for hobbies, where users can connect, share, and interact with others who have similar interests.</p>

    <h2>About the Developer:</h2>
    <p>My name is Shifa Faisal, and I am a student pursuing a Bachelors of Information Techonolgy.</p>

</div>
<%- include ./partials/footer.ejs %>
