<%- include ./partials/header %>
<%- include ./partials/main_nav %>

<!-- Styling for contact page -->
<style>
    body {
        background-color: #BFAE99;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }

    h1 {
        color: #4D4339 ;
        text-align: center;
    }
    h2 {
        color: #D9D0C7;
        text-align: left;
    } 

    p {
        font-size: 18px;
        color: #D9D0C7;
    }

    /* Background  for contact information */
    .projectbox {
        border-radius: 10px;
        padding: 25px;
        background-color: #A68C76; 
        margin: 25px auto;
        width: 90%;
    }
</style>

<!-- Title of page -->
<h1>Contact HobbyHub<h1>
<div class="projectbox">
    <!-- Main content of contact page -->
    <p>If you have any feedback, questions, or concerns, feel free to reach out to the HobbyHub team.</p>
    <p>You can email us at:</p>
    <!-- Email of team -->
    <p><i class="fa-regular fa-envelope"></i> <a href="mailto:Shifa.faisal@ontariotechu.net">Shifa.faisal@ontariotechu.net</a></p>
    <br>
    <!-- Location -->
    <p><i class="fa-solid fa-location-dot"></i> 2000 Simcoe St N, Oshawa ON L1G0C5</p>
</div>

<%- include ./partials/footer %>
