<%- include partials/header %>
<%- include partials/main_nav %>


<style>
    body {
        background-color: hotpink;
}
</style>


<div class="container py-4">

  <p>If you have any feedback, questions, or concerns, feel free to reach out to the HobbyHub team.</p>
  <p>You can email us at:</p>

  <div class="contact-emails">
    <p><i class="fa-regular fa-envelope"></i> <a href="mailto:Shifa.faisal@ontariotechu.net">Shifa.faisal@ontariotechu.net</a></p>
  </div>

  <br> 
  <p><i class="fa-solid fa-location-dot"></i> 2000 Simcoe St N, Oshawa ON L1G0C5</p>

</div>

<%- include partials/footer %>