<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Styling for add a hobby page -->
<style>
    body {
        background-color: #BFAE99;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
    h1 {
        color: #4D4339;
    }

    label, p {
        font-size: 18px;
        color: white;
    }
    
    /* Button Styling */
    .btn-primary {
        background-color: #4D4339;
        color: #D9D0C7;
    }

    .btn-warning {
        background-color: #A68C76;
        color: #4D4339;
    }
</style>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <!-- Form for adding a new hobby -->
            <form class="form" method="post">
                <div class="form-group">
                    <label for="nameTextField"> Hobby Name</label>
                    <input type="text" class="form-control"
                    id="hobbynameTextField"
                    placeholder="Enter name of hobby"
                    name="hobbyname" required>
                </div>
                <br>

                <!-- Dropdown for selecting category -->
                <div class="form-group">
                    <label for="categorySelect">Category</label>
                    <select class="form-control" id="categorySelect" name="category" required>
                    <option value="" disabled selected>Select a category</option>
                    <option value="Art">Art</option>
                    <option value="Music">Music</option>
                    <option value="Sports">Sports</option>
                    <option value="Outdoors">Outdoors</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Coking&Baking">Cooking & Baking</option>
                    <option value="Technology&Coding">Technology & Coding</option>    
                    <option value="Collecting">Collecting</option>
                    <option value="Other">Other</option>
                    </select>
                </div>
                <br>

                <!-- Description input field -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter the description of the hobby"
                    name="description" required>
                </div>
                <br>

                <!-- Average Cost input field -->
                <div class="form-group">
                    <label for="averagecostTextField">Average Cost ($)</label>
                    <input type="number" class="form-control"
                        id="averagecostTextField"
                        placeholder="Enter the average cost of the hobby"
                        name="averagecost" required min="0" step="1">
                </div>
                <br>

                <!-- Interaction Type dropdown -->
                <div class="form-group">
                    <label for="interactiontype">Interaction Type</label>
                    <select class="form-control" id="interactiontype" name="interactiontype" required>
                    <option value="" disabled selected>Select an interaction type (amount of people needed)</option>
                    <option value="Solo">Solo</option>
                    <option value="Partner">Partner</option>
                    <option value="Group">Group</option>
                    </select>
                </div>
                <br>

                <!-- Stars Of Joy (rating) input field -->
                <div class="form-group">
                    <label for="starsofjoyratingTextField">Stars Of Joy (rating out of 5)</label>
                    <input type="number" class="form-control"
                        id="starsofjoyratingTextField"
                        placeholder="Enter the stars of joy (rating) for the hobby"
                        name="starsofjoyrating" required min="0" max="5" step="1">
                </div>
                
                <br> 

                <!-- Submit and Cancel buttons -->
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>
                <a href="/hobby" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>