<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="post">
                <div class="form-group">
                    <label for="nameTextField"> Hobby Name</label>
                    <input type="text" class="form-control"
                    id="hobbynameTextField"
                    placeholder="Enter name of hobby"
                    name="hobbyname" required>
                </div>
                <div class="form-group">
                    <label for="categoryTextField">Category</label>
                    <input type="text" class="form-control"
                    id="categoryTextField"
                    placeholder="Enter the hobby category"
                    name="category" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter the description of the hobby"
                    name="description" required>
                </div>
                <div class="form-group">
                    <label for="averagecostTextArea">Average Cost ($)</label>
                    <textarea type="text" class="form-control"
                    id="averagecostTextArea"
                    placeholder="Enter the average cost of the hobby"
                    name="averagecost" required></textarea>
                </div>
                <div class="form-group">
                    <label for="priceTextField">Interaction Type</label>
                    <input type="text" class="form-control"
                    id="InteractiontypeTextField"
                    placeholder="Enter the number of people who can interact in this hobby"
                    name="interactiontype" required>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>
                <a href="/Hobbies" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>